<div class="d-flex flex-column h-100 position-relative">
  <div class="sc-area" #scrollableDiv>
    <ul class="d-flex list-unstyled flex-column">
      <li *ngFor="let message of messageHistory" [ngClass]="message.senderId === currentUser._id? 'b-me': 'b-o'"
          class="list-group-item mb-2">
        <app-message [message]="message" [currentUser]="currentUser" [otherUser]="otherUser"></app-message>
      </li>
    </ul>
  </div>
  <div>
    <div class="position-absolute w-100 bottom-0">
      <form class="form-inline" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="col-1">
          <img src="/assets/icon-add-file.png" alt="icon" (click)="inputElement.click()">
          <input type="file" (change)="onChange($event)" formControlName="message" id="fileInput" class="d-none" #inputElement>
        </div>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Message</label>
        <input type="text" class="form-control col-7" id="inlineFormInputGroupUsername2" formControlName="message"
               placeholder="write a message...">
        <button type="submit" class="btn btn-primary col-3 ml-1 send">Send</button>
      </form>
    </div>
  </div>
</div>
