img {
  height: 80px;
  border-radius: 50%;
}

.new_message {
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 50%;
  color: white;
  margin: auto 10px 10px auto;
}
